body{
  margin:5px;
  padding;5px.
  line-heiht:1.15;
}

nav li{
  border-radius: 50px;
}

div.gallery{
  display: grid;
  grid-template-column: 250px 250px 250px;
  border: 2px dashed yellow;
  width: 90%;
  justify-content: center;
  
}


