h1, h2, h3{
  font-weight: bold;
  margin-top: 20px;
}

 nav li {
   margin-left: 25px;
   list-style-type: upper-roman; 
   background-color: cyan; 
   border: 10px solid black; 
   border-radius: 10px; 
   padding: 100px;
   display: inline-block;
   margin-left: 20px;
   margin-right: 20px;
}

