h1, h2, h3{
  font-weight: bold;
  margin-top: 20px;
}

 nav li {
   margin-left: 25px;
   list-style-type: upper-roman; 
   background-color: cyan; 
   border: 2px solid black; 
   border-radius: 70px; 
   padding: 40px;
   display: inline-block;
   margin-left: 20px;
   margin-right: 20px;
}

div.gallery{
  display: grid;
  grid-template-columns: 250px 250 px; 
  border: 3px solid black; 
  width: 90%;
  justify: center;
}

.gallery img{
  width: 250px;
}

